---
import { Icon } from "astro-icon/components";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Email received confirmation">
  <div
    class="px-4 md:px-20 text-center flex flex-col gap-y-4 lg:px-0 lg:w-8/12 lg:mx-auto lg:mt-20"
  >
    <h1 class="font-bold text-3xl">Thank you for getting in touch!</h1>
    <p class="text-dark-grey">
      I&apos;ll get back to you as soon as possible. In the meantime, feel free
      to return to the homepage by clicking below!
    </p>
    <a class="text-blue-500 underline" href="/">Return to Home</a>
  </div>
</Layout>
